name: "CI Build"

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
    tags: [ v* ]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  SBT_OPTS: >- # Use all available resources
    -Xmx10G
    -Xms6G
    -Xss8M
    -XX:ReservedCodeCacheSize=512M

jobs:
  test:
    name: Execute Tests (Java ${{ matrix.java }})
    strategy:
      fail-fast: false
      matrix:
        java: [ 17, 25 ]
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java }}

      - name: Set up sbt
        uses: sbt/setup-sbt@v1

      - name: Set up Coursier cache
        uses: coursier/cache-action@v7

      - name: Execute Unit Tests
        run: sbt -v test

      - name: Package Project Products
        run: sbt -v package

  publish:
    name: Publish Release
    needs: [ test ]
    if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 17

      - name: Set up sbt
        uses: sbt/setup-sbt@v1

      - name: Set up Coursier cache
        uses: coursier/cache-action@v7

      - name: Import Signing Key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.OSS_PUBLISH_USER_SIGNING_KEY }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          trust_level: 5

      - name: Publish Projects
        run: sbt publishSigned sonaUpload sonaRelease
        env:
          SONATYPE_USERNAME: ${{ secrets.OSS_PUBLISH_USER }}
          SONATYPE_PASSWORD: ${{ secrets.OSS_PUBLISH_USER_PASSPHRASE }}
          SIGNING_KEY_ID: ${{ secrets.OSS_PUBLISH_USER_SIGNING_KEY_ID }}

  publish-documentation:
    name: Publish Documentation
    needs: [ publish ]
    if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 17

      - name: Set up sbt
        uses: sbt/setup-sbt@v1

      - name: Set up Coursier cache
        uses: coursier/cache-action@v7

      - name: Import Signing Key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.OSS_PUBLISH_USER_SIGNING_KEY }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_committer_name: Shuwari Africa Team
          trust_level: 5

      - name: Generate Documentation
        run: sbt sbt-shuwari-documentation/mdoc

      - name: Commit Documentation Changes
        run: |
          git add ./README.md && \
          git commit --gpg-sign --message "Update documentation for ${{ github.ref_name }}"

      - name: Push Documentation Changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.OSS_TEAM_TOKEN }}
          branch: main

  synchronise-repositories:
    name: Synchronise Repositories
    if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v'))
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Synchronise Azure DevOps
        uses: yesolutions/mirror-action@v0.7.0
        with:
          REMOTE: "git@ssh.dev.azure.com:v3/shuwari/sbt-shuwari/sbt-shuwari"
          GIT_SSH_PRIVATE_KEY: ${{ secrets.DEVOPS_SSH_PRIVATE_KEY }}
          GIT_SSH_NO_VERIFY_HOST: "true"
          PUSH_ALL_REFS: false
